.patient-details {
  max-width: 90%;
  margin: 4rem auto;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;

  h1 {
    color: #b92031;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .patient-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;

    thead {
      background-color: white;
      color: #b92031;

      th {
        padding: 1rem;
        font-size: 1.5rem;
        border: 1px solid #ddd;
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: rgba(244, 67, 54, 0.05);
        }

        td {
          padding: 0.9rem;
          border: 1px solid #ddd;
          font-size: 1.3rem;
          color: #1d3557;
        }
      }
    }
  }

  .back-link {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.6rem 1.2rem;
    background-color: #b92031;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    transition: background-color 0.3s;
    font-size: 1.3rem;
  }
}
